<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hungry_bubbles"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="7"
        android:targetSdkVersion="15"/>

    <application
        android:name=".AppInfo"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >

        <activity
            android:name=".StartActivity" >
            
            <!-- Indicates that StartActivity is the Activity which should   -->
            <!-- be started by Android when this application first starts up -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>    
        </activity>
        
        <activity
            android:name=".HungryBubblesActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name=".GameStatsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>